.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    font-size: 40px;
    .title {
        z-index: 2;
        font-size: 30px;
    }
}
