.header {
    display: flex;
    position: absolute;
    width: 1000px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.name {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.menu {
    display: flex;
    width: 300px;
    justify-content: space-around;
}
