@import "./header.scss";
@import "./home.scss";
@import "./footer.scss";
@import "./about.scss";
@import "./contact.scss";

body {
    margin: 0;
    background-color: #222;
    color: white;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}
